{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "react-app"
  ],
  "plugins": [
    "prettier",
    "react-hooks"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "import/imports-first": [
      "error",
      "absolute-first"
    ],
    "import/newline-after-import": "error",
    "semi": [
      "error",
      "always"
    ],
    "linebreak-style": "off",
    "react-hooks/rules-of-hooks": "error"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "fetch": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "env": {
    "jest": true
  }
}